/* base variables */
/* text-color */
/* pin */
/* 字体大小 */
/* tab-bar */
/* 提示颜色 */
/* fee type color 引用自主版本 */
/* mix-in class */
#mixin-ios-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#mixin-pick-bar {
  display: flex;
  background: #fff;
  font-weight: normal;
  font-size: 16px;
}
#mixin-pick-bar > div {
  flex: 1;
  text-align: center;
  color: #3296FA;
  line-height: 50px;
}
.mkbs-header.ant-layout-header {
  display: flex;
  height: 50px;
  padding: 0 16px 0 0;
  background-color: #3296FA;
}
.mkbs-header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  padding-left: 44px;
  color: #fff;
  font-size: 20px;
  transition: all 0.2s;
}
.mkbs-header-logo .logo-content > span {
  display: flex;
  align-items: center;
}
.mkbs-header-logo .logo-content img {
  height: 22px;
}
.mkbs-header-logo .anticon {
  margin-right: 22px;
  cursor: pointer;
}
.mkbs-header-logo-collapsed {
  width: 56px;
  justify-content: center;
  padding: 0;
}
.mkbs-header-logo-collapsed .logo-content {
  display: none;
}
.mkbs-header-logo-collapsed .anticon {
  margin: 0;
}
.mkbs-header-menus {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.mkbs-header .right-menu .ant-menu .ant-menu-item {
  padding: 0;
  width: 50px;
  text-align: center;
}
.mkbs-header .right-menu .ant-menu .ant-menu-submenu:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.mkbs-header .right-menu .ant-menu .ant-menu-submenu .ant-menu-submenu-title {
  font-size: 18px;
}
.mkbs-header .ant-menu {
  flex-grow: 1;
  background-color: transparent;
  line-height: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.mkbs-header .ant-menu .ant-menu-item {
  padding: 0 26px;
}
.mkbs-header .ant-menu .ant-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.mkbs-header .ant-menu .ant-menu-item > a {
  color: #fff;
}
.mkbs-header .ant-menu .ant-menu-item.ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.mkbs-header .ant-menu .ant-menu-item-group-title {
  display: none;
}
.mkbs-header .ant-menu .ant-menu-item-group-list {
  display: flex;
}
.mkbs-header .ant-menu .ant-menu-item-group-list .ant-menu-item {
  padding: 0 16px;
}
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-sub {
  background-color: #fff;
}
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-sub .ant-menu-item {
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
}
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-sub .ant-menu-item:hover {
  color: #3296FA;
}
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-sub .ant-menu-item > span {
  display: block;
  padding: 0 16px;
}
.mkbs-sider {
  box-shadow: 0 0 4px 0 hsla(0, 0%, 59%, 0.6);
  z-index: 10;
  background-color: #fff;
}
.mkbs-sider .ant-menu.ant-menu-root {
  padding: 20px 0;
  overflow: auto;
}
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title {
  width: 100%;
  height: 44px;
  line-height: 44px;
}
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item > a,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title > a,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item > span,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title > span {
  display: flex;
  color: #757575;
  align-items: center;
}
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item > a .fm,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title > a .fm,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item > span .fm,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title > span .fm {
  font-size: 18px;
  margin-right: 10px;
  color: #a3abbe;
}
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item > a:focus,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title > a:focus,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item > span:focus,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title > span:focus {
  text-decoration: none;
}
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item.ant-menu-item-selected > a,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title.ant-menu-item-selected > a,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item:hover > a,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title:hover > a {
  color: #3296FA;
}
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item.ant-menu-item-selected > a .fm,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title.ant-menu-item-selected > a .fm,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item:hover > a .fm,
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu-title:hover > a .fm {
  color: #3296FA;
}
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-item-divider {
  margin: 10px 0;
}
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu {
  margin-top: 4px;
  margin-bottom: 8px;
}
.mkbs-sider .ant-menu.ant-menu-root .ant-menu-submenu .ant-menu-item {
  padding-left: 72px !important;
}
.mkbs-sider .ant-menu-inline-collapsed {
  width: 56px;
}
.mkbs-sider .ant-menu-inline-collapsed > .ant-menu-submenu.ant-menu-submenu-selected > .ant-menu-submenu-title {
  border-left-color: #3296FA;
}
.mkbs-sider .ant-menu-inline-collapsed > .ant-menu-submenu.ant-menu-submenu-selected > .ant-menu-submenu-title .fm {
  color: #3296FA;
}
.mkbs-sider .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 16px !important;
  border-left: 3px solid transparent;
}
.mkbs-sider .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title > span {
  padding-left: 3px;
}
.mkbs-sider .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .fm + span,
.mkbs-sider .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .ant-badge {
  max-width: 0;
  display: inline-block;
  opacity: 0;
}
.mkbs-sider .ant-menu-inline-collapsed .ant-menu-item {
  padding: 0 18px !important;
  border-left: 3px solid transparent;
}
.mkbs-sider .ant-menu-inline-collapsed .ant-menu-item.ant-menu-item-selected {
  border-left-color: #3296FA;
}
.mkbs-sider .ant-menu-inline-collapsed .ant-menu-item .fm + span,
.mkbs-sider .ant-menu-inline-collapsed .ant-menu-item .ant-badge {
  max-width: 0;
  display: inline-block;
  opacity: 0;
}
.ant-menu-inline-collapsed-tooltip .fm,
.ant-menu-submenu-popup .fm,
.ant-menu-inline-collapsed-tooltip .ant-badge,
.ant-menu-submenu-popup .ant-badge {
  display: none;
}
.mkbs-page-container .section {
  flex: 1;
  display: flex;
  align-items: stretch;
}
.mkbs-page-container .section .content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
