@import '../../../style/variables.less';
.@{prefix}-select-popover.ant-popover {
    // top: 20px !important;
    padding-top: 0 !important;
    .ant-popover-arrow {
        display: none;
    }
    .ant-popover-inner-content {
        padding: 0;
        .search-input-wrap {
            padding: 10px;
            background-color: #f7f7f7;
            position: relative;
            border-radius: 2px;
            .search-input {
                width: 100%;
                height: 30px;
                line-height: 30px;
                padding: 6px 8px;
            }
            .search {
                position: absolute;
                right: 20px;
                top: 14px;
            }
        }
    }
}
.@{prefix}-popcontent {
    min-width:150px;
    max-width:500px;
    max-height:450px;
    overflow: auto;
    padding:@box-padding;
    .@{prefix}-option-child + .@{prefix}-option-child{
        margin-top:8px;
    }
}