.bar {
  display: flex;
  align-items: center;
  min-height: 30px;
}
.bar .filter-wrapper {
  display: flex;
}
.bar .filter-wrapper .filter {
  padding: 3px 25px 3px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  position: relative;
}
.bar .filter-wrapper .filter .label {
  color: #ddd;
  margin-right: 5px;
  font-weight: normal;
}
.bar .filter-wrapper .filter .close {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 0;
  font-weight: 700;
  top: 0;
  bottom: 0;
  margin: auto 0;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
}
.bar .filter-wrapper .filter + .filter {
  margin-left: 10px;
}
