/* base variables */
/* text-color */
/* pin */
/* 字体大小 */
/* tab-bar */
/* 提示颜色 */
/* fee type color 引用自主版本 */
/* mix-in class */
#mixin-ios-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#mixin-pick-bar {
  display: flex;
  background: #fff;
  font-weight: normal;
  font-size: 16px;
}
#mixin-pick-bar > div {
  flex: 1;
  text-align: center;
  color: #3296FA;
  line-height: 50px;
}
.mkbs-mktable-filterbar {
  display: flex;
  align-items: center;
  min-height: 30px;
}
.mkbs-mktable-filterbar-filter-wrapper {
  display: flex;
  align-items: center;
}
.mkbs-mktable-filterbar-filter-wrapper .filter {
  padding: 3px 25px 3px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #f7f7f7;
  position: relative;
}
.mkbs-mktable-filterbar-filter-wrapper .filter-label {
  color: #999;
  margin-right: 5px;
  font-weight: normal;
}
.mkbs-mktable-filterbar-filter-wrapper .filter-close {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 0;
  font-weight: 700;
  top: 0;
  bottom: 0;
  margin: auto 0;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
}
.mkbs-mktable-filterbar-filter-wrapper .filter + .filter {
  margin-left: 10px;
}
.mkbs-mktable-filterbar-filter-wrapper .filter-clear {
  margin-left: 10px;
}
