/* base variables */
/* text-color */
/* pin */
/* 字体大小 */
/* tab-bar */
/* 提示颜色 */
/* fee type color 引用自主版本 */
/* mix-in class */
#mixin-ios-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#mixin-pick-bar {
  display: flex;
  background: #fff;
  font-weight: normal;
  font-size: 16px;
}
#mixin-pick-bar > div {
  flex: 1;
  text-align: center;
  color: #3296FA;
  line-height: 50px;
}
.mk-sider {
  box-shadow: 0 0 4px 0 hsla(0, 0%, 59%, 0.6);
  z-index: 10;
  background-color: #fff;
}
.mk-sider .ant-menu .ant-menu-item > a {
  font-size: 16px;
}
.mk-sider .ant-menu .ant-menu-item .fm {
  margin-right: 10px;
  color: #a3abbe;
}
.mk-sider .ant-menu .ant-menu-item.ant-menu-item-selected .fm {
  color: #3296FA;
  font-size: 18px;
}
.mk-sider .ant-menu-inline-collapsed {
  padding: 0 20px !important;
  border-left: 3px solid transparent;
}
.mk-sider .ant-menu-inline-collapsed.ant-menu-item-selected {
  border-left-color: #3296FA;
}
.mk-sider .ant-menu-inline-collapsed .ant-menu-item .fm + span {
  max-width: 0;
  display: inline-block;
  opacity: 0;
}
